
<nav class="navbar navbar-default" id="navbar-darkblue" style="width:100%">
  <div class="container-fluid">
    <div class="navbar-header" color="primary">

        <img alt="Brand" src="../favicon.ico">
      <div style="color:white;">   Rock Paper Scissors!</div>
    </div>
  </div>
</nav>


<div class="container">
    <div class="row">
      <div class="Absolute-Center is-Responsive">

        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <img style="width:300px; height: 300px;" src="{{this.gameImage}}" alt="">

            <div class="btn-group">
            <div class="btn-group btn btn-primary" role="group">
              <button id="rpsbutton" value="rock" (click)="this.onSubmit('rock')" type="button" class="btn btn-default">Rock</button>
            </div>
            <div class="btn-group btn btn-primary" role="group">
              <button id="rpsbutton"value="paper" (click)="this.onSubmit('paper')"type="button" class="btn btn-default">Paper</button>
            </div>
            <div class="btn-group btn btn-primary" role="group">
              <button id="rpsbutton" value="scissors" (click)="this.onSubmit('scissors')"type="button" class="btn btn-default">Scissors</button>
            </div>
          </div>
          <div style="text-align: center; margin: 100px;">
          <h2>{{displayMessage}}</h2>
        </div>
      </div>
    </div>
  </div>
  </div>




